@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(https://storage.googleapis.com/pai-images/7d6eba53ea1f450ebea6e1fee155475f.jpeg);
	background-size: cover;
	scroll-behavior: smooth;
	overflow: hidden;
	font-family: "Tektur", sans-serif;
	text-align: center;
}

.header {
	color: #fff;
	margin-top: 62px;
	width: 100vw;
	display: flex;
	padding-left: 350px;
}

.header p {
	font-size: 4rem;
	font-weight: 700;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	padding-right: 350px;
}

#loginBtn {
	align-items: right;
	width: 100px;
	height: 50px;
	border-radius: 26px;
	border: none;
	font-size: larger;
	font-weight: bolder;
	background-color: black;
	color: #fff;
	margin-top: 17px;
	cursor: pointer;
	transition: transform 0.2s;
}

#loginBtn:hover {
	transform: scale(1.16);
	opacity: 0.9;
	cursor: pointer;
}

.main {
	width: 100vw;
	margin-top: 60px;
	display: flex;
	justify-content: space-evenly;
}
.anime-box {
	padding: 40px;
	color: #151515;
	max-width: 260px;
	max-height: 530px;
	background-color: #fff;
	border-radius: 22px;
	flex-basis: calc(33% - 40px);
	transition: transform 0.2s;
	cursor: crosshair;
}

.box1:hover {
	border: 8px solid #f5f5f5;
	box-shadow: 20px 20px 17px #000;
	opacity: 0.9;
	transform: scale(1.16);
}

.box2:hover {
	border: 8px solid #f5f5f5;
	box-shadow: 20px 20px 17px #000;
	opacity: 0.9;
	transform: scale(1.16);
}

.box3:hover {
	border: 8px solid #f5f5f5;
	box-shadow: 20px 20px 17px #000;
	opacity: 0.9;
	transform: scale(1.16);
}

.textLink {
	color: black;
	text-decoration: none;
	font-size: 1.03rem;
}

.watch-now-button {
	display: inline-block;
	background-color: #000;
	color: #fff;
	font-size: large;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.banner {
	width: 260px;
	height: 400px;
	border-radius: 20px;
	cursor: crosshair;
}

@media screen and (max-width: 900px) {
	body {
		background-image: url(https://storage.googleapis.com/pai-images/f1703481e4084c569ca2e1a4aabb9ba7.jpeg);
		font-size: xx-small;
	}
}
